body { 
font-family:"adelle",serif;
font-style: normal; 
font-weight: 400; 
font-size: 16px;color:#404040;
}

blockquote { 
	text-align: center; 
	letter-spacing: 0px; 
	font-size: 1.2em; 
	line-height: 1.6177083253860474em; 
	font-weight: 400; 
	margin-bottom: 2em; 
}
blockquote:before {
	display: block;
	float: left;
	margin: 10px 15px 0 0;
	font-size: 5em; /* let's make it a big quote! */
	content: "“"; /* here we define our :before as a smart quote. It could be any content, even the HTML entity alternative to this opening quote, that is “ */
	color: #bababa;
	text-shadow: 0 1px 1px #909090;
}
blockquote:after {
		/* could be content:close-quote; but lets keep it clean*/
}
h1, h2, h3, h4, h5, h6 {
	font-family: "ff-meta-serif-web-pro",serif; 
	font-style: normal; 
	font-weight: normal; 
	text-shadow: 1px 1px 2px #636363;
	color:#0c0c0c;
}
h1 { 
	font-weight: 700; 
	font-size: 3em; 
	line-height: 1.2333333333em; 
	text-transform: uppercase; 
	margin-bottom: 0.1em;
}

header h1 { 
	text-align: center;
	border-bottom: 1px double #ccc;
	font-size: 3.75em;
}
header h1 a, header h1:active {	
	text-decoration: none;
	color:#0c0c0c;
	-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-webkit-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
}

header h1 a:hover { 
	color:#999;
}

h2 { 
	font-size: 2.6em; 
	line-height: 1.1666666666666667em; 
	margin-bottom: 0.5em; 
	margin-top: 1em; 
}
h3 { 
	font-size: 1.8em; 
	font-weight: 500; 
	margin-top: 0em; 
	margin-bottom: 0.6em; 
	line-height: 1.2413793103448276em; 
}
h4 { 
	font-size: 1.6em; 
	font-weight: 500; 
	font-style: italic; 
	margin-bottom: 1em; 
	line-height: 1.1955128156em; 
}
h5 { 
	margin-bottom: 0.8em; 
	font-size: 1.2em; 
	font-weight: 700; 
}
h6 { 
	font-weight: 500; 
	font-style: italic; 
	font-size: 1.2em; 
	margin-bottom: 0.8em; 
}
p { 
	margin-bottom: 1.5625em; 
	font-weight: 400; 
	font-size: 1em; 
	line-height: 1.825em; 
}
p.date { 
	font-style: italic; 
	font-weight: 500; 
	text-align: left; 
	font-size: 1.125em; 
	line-height: 1.625em; 
	margin-bottom: 1.0555555555555556em;
}
p.subheader { 
	font-weight: 600; 
	font-style: normal; 
	font-size: 1.3em; 
	line-height: 1.6071428935em; 
	margin-bottom: 1.0952380952380953em;
}

#wrapper {
	width: 80%;
	margin:	20px auto;
	max-width: 750px;
}